/* Grundeinstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24388e; /* Setzt die gesamte Hintergrundfarbe der Seite auf Blau */
    color: #ffffff; /* Weißer Text für bessere Lesbarkeit */
    font-family: Arial, sans-serif;
}

/* Fixierter Header mit zentriertem Logo und Hintergrundfarbe */
.shop-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Die Höhe des Headers kann angepasst werden, falls nötig */
    background-color: #24388e;
    display: flex;
    align-items: center;
    justify-content: center; /* Zentriert das Logo */
    padding: 0 20px;
    z-index: 1000;
    border-bottom: none; /* Entfernt die Untergrenze des Headers */
}

.logo-link {
    display: block;
}

.logo {
    height: 30px; /* Hier kannst du die Höhe des Logos anpassen */
    max-height: 30px; /* Alternativ kannst du die maximale Höhe auch erhöhen */
}

/* Warenkorb-Icon im Header, rechts positioniert */
.cart-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
}

.cart-icon img {
    width: 100%;
    height: auto;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #E55013;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8em;
    font-weight: bold;
}

.top-menu-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 20px;
    box-sizing: border-box;

    /* Versteckt den Scrollbalken */
    -ms-overflow-style: none;  /* Für Internet Explorer und Edge */
    scrollbar-width: none;     /* Für Firefox */
}

.top-menu-wrapper::-webkit-scrollbar {
    display: none;  /* Für Webkit-basierte Browser (Chrome, Safari) */
}


/* Top-Menu: Filter-Links */
.top-menu {
    display: inline-flex; /* Elemente werden in einer Reihe angezeigt */
    gap: 20px;
    align-items: center;
    margin: 0; /* Keine Margins */
    justify-content: flex-start; /* Links ausrichten */
    padding-left: 0; /* Entfernt eventuelles Padding auf der linken Seite */
}

.top-menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400; /* Setzt die Schrift auf dünner */
    font-size: 1.1em; /* Beibehaltung der Schriftgröße */
    position: relative;
    transition: color 0.3s ease;
    padding-bottom: 5px; /* Platz für die Linie */
    white-space: nowrap; /* Verhindert Zeilenumbruch für einzelne Links */
    margin-left: 0; /* Vermeide zusätzlichen Abstand links */
}


/* Gepunktete Linie unter jedem Filter-Link */
.top-menu a::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px dotted #ffffff; /* Weiße gepunktete Linie */
    margin-top: 0px; /* Abstand zur Linie */
}

.top-menu a:hover {
    color: #E55013;
}

/* Überschrift (Produkt-Titel) */
.product-title {
    font-size: 3em;
    margin-top: 0px;
    color: #ffffff; /* Weiß für Kontrast auf blauem Hintergrund */
    font-weight: bold;
    text-transform: uppercase;
    text-align: left; /* Linksbündige Überschrift */
    margin-left: 5px; /* Abstand zum linken Rand */
}

/* Hauptbereich für Produkte */
main {
    padding-top: 20px;
}

/* Produkt Container */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Bilder füllen die gesamte Breite des Displays aus */
    gap: 0px; /* Keine Abstände zwischen den Produktkarten */
}

/* Produkt-Karten Design */
.product-card {
    text-align: left;
    background-color: #24388e; /* Hintergrundfarbe passend zum Seitenhintergrund */
    color: #ffffff; /* Weißer Text für Kontrast */
    overflow: hidden; /* Verhindert Überlauf von Inhalten */
    height: 100%; /* Füllt den gesamten Container aus */
    border: none; /* Kein Rand um die Produktkarte */
    position: relative; /* Positionierung für überlappende Texte */
}

/* Bild des Produkts */
.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Das Bild passt sich an und füllt den Container ohne Verzerrung */
    border: none; /* Kein Rand um das Bild */
    display: block;
}

.product-card a {
    text-decoration: none; /* Keine Linie unter dem Link */
    border-bottom: none; /* Entfernt eine mögliche Linie unter den Links */
}

/* Container für die Produktinformationen */
.product-info {
    padding: 10px; /* Abstand für den Text unterhalb des Bildes */
}

/* Produktname */
.product-card h2 {
    font-size: 0.9em; /* Größere Schriftgröße für den Produktnamen */
    margin: 2px 0; /* Mehr Abstand zum Bild (nach oben und unten) */
    color: #ffffff;
    margin-left: 3px;
}

/* Produktpreis */
.product-card p {
    font-size: 0.9em; /* Größere Schriftgröße für den Preis */
    color: #E55013;
    font-weight: bold;
    margin: 0px 0 20px; /* Mehr Abstand zum unteren Rand (10px oben, 20px unten) */
    margin-left: 3px;
}

/* Entferne Hover-Effekte für Produkte */
.product-card:hover {
    transform: none; /* Entfernt jegliche Skalierung beim Hover */
}

/* Footer Styles */
.custom-footer {
    background-color: #24388e;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 40px;
}

.footer-branding {
    font-size: 1em;
    margin-bottom: 15px;
    color: #E55013;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

/* Einheitliche Einstellungen für alle Social Icons */
.social-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    transition: transform 0.3s;
}

/* Spezifische Größe nur für das TikTok-Logo */
.tiktok-icon {
    width: 20px; /* Passe die Größe nach Bedarf an */
    height: 20px;
    margin-top: 8px;
}

.social-icon:hover {
    transform: scale(1.1);
}

.legal-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.legal-links a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

.legal-links a:hover {
    text-decoration: underline;
}

/* Mobile Specific Styles */
@media (max-width: 768px) {
/* Produktseite Layout */
    .product-page {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: #24388e; 
    }

    /* Produktbild - Hauptbild */
    .product-main-image-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .product-main-image {
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    /* Thumbnails unter dem Hauptbild */
    .product-thumbnail-container {
        display: flex;
        justify-content: flex-start; /* Ändert die Ausrichtung von zentriert auf links */
        gap: 10px;
        margin-bottom: 10px;
    }

    .product-thumbnail {
        width: 50px;
        height: auto;
        cursor: pointer;
        border: 2px solid transparent;
    }

    .product-thumbnail:hover {
        border-color: #000; /* Bei Hover wird ein schwarzer Rahmen angezeigt */
    }

    /* Produktinformationen */
    .product-info {
        text-align: left;
    }
    .product-title-details {
        font-size: 1.5em;
        margin-top: 20px;
        color: #ffffff; /* Weiß für Kontrast auf blauem Hintergrund */
        text-transform: uppercase;
        font-weight: 500;
        text-align: left; /* Linksbündige Überschrift */
        margin-left: 0; /* Abstand zum linken Rand auf 0 setzen, damit es so weit wie möglich nach links geht */
        margin-bottom: 20px;
    }
    
    .back-link {
        text-decoration: none; /* Normale Unterstreichung entfernen */
        color: #ffffff;
        font-weight: lighter;
        margin-bottom: 20px;
        display: inline; /* Display auf 'inline' setzen, um die Breite auf den Text zu beschränken */
        border-bottom: 1px dotted #ffffff; /* Gepunktete Unterstreichung */
        padding-bottom: 1px; /* Leichter Abstand zwischen Text und Unterstreichung */
    }
    
    
    .product-price {
        font-size: 1.5em;
        color: #ffffff;
        margin-bottom: 20px;
        margin-left: 0; /* Abstand zum linken Rand auf 0 setzen */
    }
    
    .product-description {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #ffffff;
        font-weight: bolder;
        margin-left: 0; /* Abstand zum linken Rand auf 0 setzen */
    }
    
    
    /* Button zum Direktkauf (Direct Checkout) */
    .checkout-button {
        background-color: #000; /* Grün für Direktkauf */
        color: #fff;
        padding: 15px;
        border: none;
        font-size: 1em;
        text-transform: uppercase;
        cursor: pointer;
        width: 100%;
        max-width: 900px;
    }
    
    .checkout-button:hover {
        background-color: #444; /* Etwas dunkleres Grün beim Hover */
    }
    
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Zentriert die Buttons und den "OR" Text horizontal */
        gap: 10px; /* Fügt gleichmäßigen Abstand zwischen den Buttons und dem "OR"-Text hinzu */
        margin-top: 20px; /* Optional: Abstand zur oberen Beschreibung erhöhen */
    }
    
    /* OR Text zwischen den Buttons */
    .or-text {
        font-weight: bold; /* Fett gedruckt */
        color: #ffffff; /* Weißer Text für Kontrast */
        margin: 0; /* Entfernt den Standardabstand */
        text-align: center; /* Sorgt für zentrierten Text */
        width: 100%; /* Sicherstellen, dass der Text im Zentrum des Containers bleibt */
    }
    
    /* Button zum Hinzufügen in den Warenkorb */
    .add-to-cart-button {
        background-color: #E55013;
        color: #fff;
        padding: 15px;
        border: none;
        font-size: 1em;
        text-transform: uppercase;
        cursor: pointer;
        width: 100%;
        max-width: 900px;
        margin-bottom: 20px; /* Abstand zum nächsten Element */
    }
    
    .add-to-cart-button:hover {
        background-color: #8a300d;
    }
}

/* Desktop Specific Styles */
@media (min-width: 769px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr); /* Vier Spalten für größere Bildschirme */
    }

    .product-card img {
        max-height: 100%; /* Bild soll den gesamten Container füllen */
    }

    /* Desktop spezifisches Layout für die Produktdetailseite */
    .product-detail-wrapper {
        display: flex;
        flex-direction: column; /* Ändere die Richtung zu Spalte, damit Bilder untereinander erscheinen */
        gap: 20px; /* Fügt Abstand zwischen dem Hauptbild und der Produktinfo hinzu */
        align-items: center; /* Zentriert die Elemente horizontal */
    }

    .product-main-image-container {
        width: 100%;
        text-align: center;
    }

    .product-main-image {
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    .product-thumbnail-container {
        display: flex;
        justify-content: center; /* Zentriert die Thumbnails unter dem Hauptbild */
        gap: 10px;
        margin-top: 10px; /* Abstand zwischen Hauptbild und Thumbnails */
    }

    .product-thumbnail {
        width: 70px; /* Thumbnail-Größe anpassen */
        height: auto;
        cursor: pointer;
        border: 2px solid transparent;
    }

    .product-thumbnail:hover {
        border-color: #000; /* Rahmenfarbe der Thumbnails bei Hover */
    }

    /* Produktinformationen bleiben als Block */
    .product-info {
        width: 100%;
        max-width: 600px;
        text-align: left;
    }

    .product-page {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background-color: #24388e; 
    }
    
    /* Produktinformationen */
    .product-info {
        text-align: left;
    }
    
    .product-title-details {
        font-size: 1.5em;
        margin-top: 0px;
        color: #ffffff; /* Weiß für Kontrast auf blauem Hintergrund */
        text-transform: uppercase;
        font-weight: 500;
        text-align: left; /* Linksbündige Überschrift */
        margin-left: 5px; /* Abstand zum linken Rand */
        margin-bottom: 20px;
    }
    
    .back-link {
        text-decoration: underline;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 20px;
        display: block;
    }
    
    .product-price {
        font-size: 1.5em;
        color: #ffffff;
        margin-bottom: 20px;
    }
    
    .product-description {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #ffffff;
        font-weight: bolder;
    }

     /* Button zum Direktkauf (Direct Checkout) */
     .checkout-button {
        background-color: #000; /* Grün für Direktkauf */
        color: #fff;
        padding: 15px;
        border: none;
        font-size: 1em;
        text-transform: uppercase;
        cursor: pointer;
        width: 100%;
        max-width: 900px;
    }
    
    .checkout-button:hover {
        background-color: #444; /* Etwas dunkleres Grün beim Hover */
    }
    
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Zentriert die Buttons und den "OR" Text horizontal */
        gap: 20px; /* Fügt gleichmäßigen Abstand zwischen den Buttons und dem "OR"-Text hinzu */
        margin-top: 20px; /* Optional: Abstand zur oberen Beschreibung erhöhen */
    }
    
    /* OR Text zwischen den Buttons */
    .or-text {
        font-weight: bold; /* Fett gedruckt */
        color: #ffffff; /* Weißer Text für Kontrast */
        margin: 0; /* Entfernt den Standardabstand */
        text-align: center; /* Sorgt für zentrierten Text */
        width: 100%; /* Sicherstellen, dass der Text im Zentrum des Containers bleibt */
    }
    
    /* Button zum Hinzufügen in den Warenkorb */
    .add-to-cart-button {
        background-color: #E55013;
        color: #fff;
        padding: 15px;
        border: none;
        font-size: 1em;
        text-transform: uppercase;
        cursor: pointer;
        width: 100%;
        max-width: 900px;
        margin-bottom: 20px; /* Abstand zum nächsten Element */
    }
    
    .add-to-cart-button:hover {
        background-color: #8a300d;
    }
    
}
/* Produktseite Layout */


/* Modal-Stile */
.modal {
    display: none; /* Modal ist anfangs versteckt */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Halbdurchsichtiger Hintergrund */
}

.modal-content {
    background-color: #ffffff;
    color: #333;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute; 
    top: 228px; 
    right: 530px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
}
